<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acer.intranet_clean_project">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".views.StudentCreateActivity" />
        <activity android:name=".views.TeacherCreateActivity" />
        <activity android:name=".views.LoginActivity" />
        <activity android:name=".views.AdminCreateActivity" />
        <activity android:name=".views.TeacherActivity" />
        <activity android:name=".views.StudentActivity" />
        <activity android:name=".views.CourseCreateActivity" />
        <activity android:name=".views.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>